<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<table>
	<% @comments.each do |c| %>
		<tr>
		<td><%= c.id %></td>
		<td><%= c.body %></td>
		</tr>
	<% end %>
</table>

<%= form_for [@user, @comment], :url => commentable_url do |f| %>
  <%= f.text_field :body %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
